.mainContainer {
  height: 80vh;
}

.genericHeader {
  color: #bdc3c7;
  font-weight: 700;
}

.genericDarkerHeader {
  color: #95a5a6;
  font-weight: 700;
}

.slightlyBiggerText {
  font-size: 1.1rem;
}

.smallerText {
  font-size: 12px !important;
  color: #fbf6e2 !important;
}

/*#region Modal*/
.modal-content {
  background-color: #212529 !important;
  color: #ecf0f1 !important;
  border-radius: 10px !important;
  box-shadow: 0px 0px 15px #7f8c8d !important;
}
.modal-header {
  border-bottom: 1px solid #ecf0f1 !important;
}

.modal-footer {
  border-top: 1px solid #ecf0f1 !important;
  justify-content: center !important;
  background-color: #212529 !important;
}

.modal-footer > * {
  margin: 0 !important;
}

.form-floating > label {
  color: #212529 !important;
}
/*#endregion */
